@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    int? userId = HttpContextAccessor.HttpContext?.Session.GetInt32("userId");
}

@model IEnumerable<Order>

@Html.Partial("~/Views/Shared/_NavbarMenu.cshtml")

<div class="container mw-primary">
    <div class=" mb-4">
        <div class="d-flex flex-row align-items-center justify-content-between mb-4">
            <h3>Drafts</h3>
        </div>
    </div>

    @if (userId == null)
    {
        <div class="alert alert-dark mb-4" role="alert">
            Select user first!
        </div>

    }

    <div class="container mw-primary">

        @if (userId != null)
        {
            <div class="border rounded rounded-5" style="width: 100%;">
                <table class="table table-hover m-0">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="auto px-3">Order #</th>
                            <th>Status</th>
                            <th>Total Items</th>
                            <th class="auto px-3 text-end">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model)
                        {
                            <tr>
                                <td class="auto text-center ps-3 pe-2">+</td>
                                <td class="auto px-3">
                                    <div class="d-flex flex-row align-items-center gap-3">
                                        @order.Id
                                    </div>
                                </td>
                                <td>
                                    <span class="border rounded-pill badge text-secondary">@order.status</span>
                                </td>
                                <td>
                                    @order.totalItems
                                </td>
                                <td class="auto px-3 text-end">@order.dateOrdered.ToString("MM/dd/yyyy")</td>
                            </tr>
                        }
                    </tbody>
                </table>
                @if (!Model.Any())
                {
                    <div class="p-5 text-secondary text-center">
                        No data for this table yet
                    </div>
                }
            </div>
        }
    </div>
</div>
