@inject IHttpContextAccessor httpContextAccessor

@{
    int? userId = httpContextAccessor.HttpContext?.Session.GetInt32("userId");
    var role = httpContextAccessor.HttpContext?.Request.Query["role"].ToString();
    var status = httpContextAccessor.HttpContext?.Request.Query["status"].ToString();
    ViewData["Title"] = status;
}

@functions
{
    private TimeSpan GetDateDifference(DateTime dateTime) => DateTime.Now - dateTime;
    
    private string GetDateStatus(TimeSpan timeSpan)
    {
        return timeSpan switch
        {
            { Days: > 30 } => $"{timeSpan.Days / 30} month/s ago",
            { Days: > 1 } => $"{timeSpan.Days} day/s ago",
            { Days: 1, Hours: 0 } => "Yesterday",
            { Hours: > 1 } => $"{timeSpan.Hours} hour/s ago",
            _ => "Just Now"
        };
    }
}

@using MasteryTest3.Data
@model List<Order>

<div class="container mw-primary mt-5">
    <div class="mb-4">
        <div class="d-flex align-items-center justify-content-between">
            <h3> @(role != Role.REQUESTER.ToString() ? "Requests for Approval" : "My Order Requests")</h3>
            @if (role == Role.REQUESTER.ToString())
            {
                <a href="@Url.ActionLink("request", "order")" class="btn btn-primary">
                    Create New Requests
                </a>
            }
        </div>
        <h6 class="text-secondary">@ViewData["Title"]</h6>
    </div>

    @if (userId == null)
    {
        <div class="alert alert-dark mb-4" role="alert">
            Select user first!
        </div>

    }

    <div>

        @if (userId != null)
        {
            <div class="border rounded rounded-5" style="width: 100%;">
                <table class="table table-hover m-0">
                    <thead>
                        <tr>
                            <th class="auto px-3 text-center">Order #</th>
                            @if (role == Role.APPROVER.ToString())
                            {
                                <th>Requester</th>
                            }
                            <th>Status</th>
                            <th>Total Items</th>
                            <th class="auto px-3 text-center">Date Requested</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model)
                        {
                            <tr>
                                <td class="auto px-3 text-center">
                                    @order.Id
                                </td>
                                @if (role == Role.APPROVER.ToString())
                                {
                                    <td>@order.user.name</td>
                                }
                                <td>
                                    <span class="border rounded-pill badge text-secondary">@order.status</span>
                                </td>
                                <td>
                                    @order.totalItems
                                </td>
                                <td class="auto px-3 text-center">@GetDateStatus(GetDateDifference(order.dateOrdered))</td>
                                <td class="auto p-1 text-end">
                                    <a href="/order/request?id=@order.Id@(status == OrderStatus.FOR_APPROVAL.ToString() ? $"&role={role}" : "")" class="btn btn-primary"
                                            style="margin: 2px 2px 2px 3px;">
                                        View
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @if (!Model.Any())
                {
                    <div class="p-5 text-secondary text-center">
                        No data for this table yet
                    </div>
                }
            </div>
        }
    </div>
</div>
