@inject IHttpContextAccessor httpContextAccessor

@{
    int? userId = httpContextAccessor.HttpContext?.Session.GetInt32("userId");
    var role = httpContextAccessor.HttpContext?.Request.Query["role"].ToString();
    
    ViewData["Title"] = httpContextAccessor.HttpContext?.Request.Query["status"];
}
@using MasteryTest3.Data
@model IEnumerable<Order>

<div class="container mw-primary mt-5">
    <div class="mb-4">
        <div class="d-flex align-items-center justify-content-between">
            <h3> @(role != Role.REQUESTOR.ToString() ? "Requests for Approval" : "My Order Requests")</h3>
            @if (role == Role.REQUESTOR.ToString())
            {
                <a href="@Url.ActionLink("request", "order")" class="btn btn-primary">
                    Create New Request
                </a>
            }
        </div>
        <h6>@ViewData["Title"]</h6>
    </div>

    @if (userId == null)
    {
        <div class="alert alert-dark mb-4" role="alert">
            Select user first!
        </div>

    }

    <div>

        @if (userId != null)
        {
            <div class="border rounded rounded-5" style="width: 100%;">
                <table class="table table-hover m-0">
                    <thead>
                        <tr>
                            <th class="auto px-3">Order #</th>
                            <th>Status</th>
                            <th>Total Items</th>
                            <th class="auto px-3 text-end">Date</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model)
                        {
                            <tr>
                                <td class="auto px-3">
                                    <div class="d-flex flex-row align-items-center gap-3">
                                        @order.Id
                                    </div>
                                </td>
                                <td>
                                    <span class="border rounded-pill badge text-secondary">@order.status</span>
                                </td>
                                <td>
                                    @order.totalItems
                                </td>
                                <td class="auto px-3 text-end">@order.dateOrdered.ToString("MM/dd/yyyy")</td>
                                <td class="auto px-3 text-end">
                                    <a href="/Order/Request?id=@order.Id"class="btn btn-primary"
                                            style="margin: 2px 2px 2px 3px;">
                                        View
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @if (!Model.Any())
                {
                    <div class="p-5 text-secondary text-center">
                        No data for this table yet
                    </div>
                }
            </div>
        }
    </div>
</div>
