@using MasteryTest3.Interfaces
@using Microsoft.AspNetCore.Http
@inject ISessionService sessionService
@model IEnumerable<User>;

@{
    var sessionUser = sessionService.GetSessionUser();
}


<div id="sidebar" class="border border-left border-light p-4">
    <div class="d-flex justify-content-center align-items-center flex-column">
        <a class="navbar-brand m-0 mb-1 text-light fs-5" asp-area="" asp-controller="Home" asp-action="Index">MasteryTest</a>
         <div class="btn-group align-self-stretch">
            <button class="btn rounded-pill border dropdown-toggle" type="button"
                    data-bs-toggle="dropdown">
                🟢  @sessionUser?.name
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                @foreach (var user in Model)
                {
                    <li>
                        <a class="dropdown-item w-100" href="@Url.Action("ChangeClient","User", new { userId = user.Id })">@user.name</a>
                     </li>
                    <li class="dropdown-divider"></li>
                }
            </ul>
        </div>
        <h6 class="text-secondary fw-medium mt-1" style="font-size: small;">@sessionUser?.role.name.ToUpper()</h6>
    </div>

    @if (sessionUser != null)
    {
        <div class="nav-group mt-4">
            <ul class="list-unstyled">
                <li class="px-3 py-1 text-secondary">My Order Requests</li>
                <a class="text-decoration-none text-white" href="@Url.ActionLink("index", "order", new { status = "DRAFT", role = 1 })">
                    <li class="ms-3 px-3 py-1">Drafts</li>
                </a>
                <a class="text-decoration-none text-white" href="@Url.ActionLink("index", "order", new { status = "FOR_APPROVAL", role = 1 })">
                    <li class="ms-3 px-3 py-1">Submitted</li>
                </a>

            </ul>
        </div>
        @if (sessionUser.role.id != 1)
        {
            <div class="nav-group mt-5">
                <ul class="list-unstyled">
                    <li class="px-3 py-1 text-secondary">Requests for Approval</li>
                    <a class="text-decoration-none text-white" href="@Url.ActionLink("index", "order", new { status = "FOR_APPROVAL", role = 0 })">
                        <li class="ms-3 px-3 py-1">Pending (1)</li>
                    </a>
                    <a class="text-decoration-none text-white" href="@Url.ActionLink("index", "order", new { status = "APPROVED", role = 0 })">
                        <li class="ms-3 px-3 py-1">Approved</li>
                    </a>
                </ul>
            </div>
        }
    }
</div>